*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 scroll-behavior: smooth;
 text-decoration: none;
 list-style-type: none;
}
.acp-header{
 display: flex;
 justify-content: space-between;
 align-items: center;
 position: absolute;
 top: 0;
 width: 100%;
}
.logo{
display: flex;
}
.logo-r{
 display: flex;
 flex-direction: column;
 justify-content: center;
}
.brand-img{
height: 5rem;
width: 6rem;
border-radius: 50%;
}
.brand-h{
font-size: 1.4rem;
color: #005bd2;
}
.brand-p{
color: white;
}
.bg-img{
 width: 100%;
 height: 100vh;
 object-fit: cover;
 opacity: 0.5;
 
}
.bg{
 position: relative;
 background: black;
}
.header-links{

}
.link-wrap{
 display: flex;
 gap: 2rem;
margin-right: 2rem;
}
.links{
 color: white;
font-size:1.3rem;
}