*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 scroll-behavior: smooth;
 text-decoration: none;
 list-style-type: none;
}
.acp-header{
 display: flex;
 justify-content: space-between;
 align-items: center;
 position: absolute;
 top: 0;
 width: 100%;
}
.logo{
display: flex;
}
.logo-r{
 display: flex;
 flex-direction: column;
 justify-content: center;
 line-height: .3rem;
}
.brand-img{
height: 5rem;
width: 6rem;
border-radius: 50%;
}
.brand-h{
font-size: 1.4rem;
color: #005bd2;
font-family: 'Cinzel', serif;

}
.brand-p{
color: white;
font-family: 'Roboto Slab', serif;
 
}
.bg-img{
 width: 100%;
 height: 100vh;
 object-fit: cover;
 opacity: 0.25;
 object-position: top;
}
.bg{
 position: relative;
 background: black;
}
.header-links{

}
.link-wrap{
 display: flex;
 gap: 2rem;
margin-right: 2rem;
}
.links{
 color: white;
font-size:1.2rem;
font-family: 'Roboto Slab', serif;
text-decoration: none;
}
.home{
 width: 100%;
 text-align: center;
 position: absolute;
 top: 36vh;
}
.home-header{
font-size: 4rem;
color:white;
font-family: 'Roboto slab', sans-serif;

}
.home-p{
 font-size: 1.4rem;
 margin-top: 2rem;
 color: lightgray;
 font-family: 'Roboto Slab', serif;
}
.learn-more,.apply{
margin-top: 1.5rem;
color: white;
font-size: 1.4rem;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.learn-btn{
 padding: .6rem;
 background: transparent;
 border: 1px solid white; 
 color: white;
 border-radius: 1.2rem;
 font-size: 1.4rem;
}
.fa-arrow-down{
 margin-top: 2rem;
}
.btn-wrap{
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 1rem;
}
.apply-btn{
 padding: .6rem;
 border: 1px solid white;
 background: white;
 color: #005bd2;
 border-radius: 1.2rem;
 font-size: 1.4rem;
}
.active{
 color: #005bd2;
}
.about{
 display: flex;
 align-items: center;
}
.about-left{

}
.about-img{
width:100%;
}
.about-right{

}
.about-h{
font-size: 3rem;
font-family: 'Roboto Slab', serif;
font-weight: 900;
}
.about-p{
text-align: left;
font-size: 1.2rem;
color: grey;
}